.welcomeMenu-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 900px) {
        width: 100%;
        height: 20em;
        flex-direction: row;
        top: 15rem
    }

    @media (min-width: 1000px) {
        top: 0;
    }

    .item{
        font-size: 15rem;
        color: #4C8C72;
        margin-top: 4rem;


        @media (min-width: 900px) {
            font-size: 10rem;
            margin: 2rem;
        }

    }

 

}